@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&display=swap');

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 70px;
  }
  
.counter-card {
    background: rgb(35,35,36)!important;
    color: #fff!important;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
.counter-card button {
    border: none;
    cursor: pointer;
    background: #d268cc;
    color: white;
    border-radius: 4px;
  }
  
  .profile-card {
    background: rgb(35,35,36)!important;
    color: #fff!important;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chart-card {
    background: rgb(35,35,36)!important;
    color: #fff!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .line-chart-card {
    background:rgb(35,35,36)!important;
    color: #fff!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-title{
    color: #fff!important;
    font-family: "Bebas Neue", serif!important;
  }
  
  .no-user-message{
    color: #fff!important;
    text-align: center;
  }

  @media (max-width: 768px) {
    .dashboard-container {
        margin-top: 70px;
      text-align: center;
    }
    .nav-links {
      gap: 10px;
    }
  }
  